.header{ background-color:black; }
.h100{height: 100px;
     background-color:black;}

    .wrapper{overflow: hidden;}
    .blog {
        float: left;
        width: 70%;
        height: 150px;
        background-color: red;}
    .contact{
        float: left;
        width: 30%;
        height: 100px;
        background-color: brown;}
    
    .item{float: left;
        width: 33.33%;
        height: 200px}
        .soft{ 
            background-color: greenyellow; }

        .lemon{ 
            background-color:limegreen; }
        
        .green{
           background-color:darkgreen; }
    .cell{
        float: left;
        width: 25%;
        height: 170px;
    }
    .bu{
        background-color: burlywood;}
    .sk{
        background-color: skyblue;
    }
    .blu{
        background-color: blueviolet;
    }
    .bl{
        background-color: blue;
    }

   .it{
    float: left;
    width: 20%;
    height: 200px;
   }

   .g1{background-color: pink;}
   .g2{background-color: palevioletred;}
   .g3{background-color: papayawhip;}
   .g4{background-color: lightpink;}
   .g5{background-color: deeppink;}